.gradle
.kotlin
.externalNativeBuild
.cxx
.DS_Store
.vscode/

!**/src/main/**/out/
!**/src/test/**/out/

*.iws
*.iml
*.ipr

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/libraries/

/build

/local.properties
