*.iml
.gradle
.externalNativeBuild
.cxx
.DS_Store

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
/captures

/local.properties
